#signInComponent {
    position: absolute;
    width: 414px;
    height: 260px;
    top: 20%;
    left: 50%;
    margin-left: -207px;
    overflow: hidden;
}
.header {
    text-align: center;
}
.inputs__input,
.inputs__button,
.inputs__button--red{
    display: block;
    width: 80%;
    height: 40px;
    padding: 0 10px;
    margin: 10px auto;
    border: 0px;
    border-radius: 3px;
    background-color: #e8e8e8;
    transition: all .5s;
}
.inputs__input:focus,
.inputs__button:focus,
.inputs__button--red:focus {
    outline: none;
}
.inputs__button,
.inputs__button--red {
    background-color: #009600;
    color: #fff;
    font-weight: 800;
    cursor: pointer;
}
.inputs__button:hover{
    border-radius: 20px;
    background-color: #008400;
    transition: all .5s;
}
.inputs__button:active {
    background-color: #005500;
}
.inputs__button--red {
    background-color: #962320;
}
.inputs__button--red:hover {
    border-radius: 20px;
    background-color: #801e1b;
    transition: all .5s;
}
.inputs__button--red:active {
    background-color: #661816;
}